{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-2">
        <div class="w-full max-w-5xl bg-white shadow-lg rounded-sm">
            {% for message in app.flashes('error') %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-2 py-1 mb-1 text-sm rounded relative" role="alert">
                    <strong class="font-bold">Error!</strong>
                    <span class="block sm:inline">{{ message }}</span>
                </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="bg-green-100 border border-green-400 text-green-700 px-2 py-1 mb-1 text-sm rounded relative" role="alert">
                    <strong class="font-bold">Success!</strong>
                    <span class="block sm:inline">{{ message }}</span>
                </div>
            {% endfor %}

            <header class="px-5 py-4 border-b border-gray-100">
                <h2 class="font-semibold text-gray-800">
                    My Tasks list
                    <a href="{{ path('logout') }}"><span class="text-xs text-right float-right pr-">
                        <button class="bg-gray-400 hover:bg-gray-600 text-white font-normal py-1 px-2 rounded">
                            <i class="far fa-sign-out"></i> Logout
                        </button>
                    </span></a>
                </h2>
            </header>
            <div class="p-3 w-full">
                <div class="overflow-x-auto">
                    <table class="table-auto w-full">
                        <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                        <tr>
                            <th class="p-2 whitespace-nowrap">
                                <div class="font-semibold text-center">Title</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                                <div class="font-semibold text-center">Description</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                                <div class="font-semibold text-center">Status</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                                <div class="font-semibold text-center">Created at</div>
                            </th>
                            <th class="p-2 whitespace-nowrap">
                                <div class="font-semibold text-center">Last updated at</div>
                            </th>
                            <th class="p-2 whitespace-nowrap"></th>
                        </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-gray-100">
                        {% for task in tasks %}
                            <tr>
                                <td class="p-2 whitespace-nowrap px-3">
                                    <div class="text-left">{{ task.title }}</div>
                                </td>
                                <td class="p-2 whitespace-nowrap px-3">
                                    <div class="text-left">{{ task.description }}</div>
                                </td>
                                <td class="p-2 whitespace-nowrap px-3">
                                    <div class="text-center">{{ task.status }}</div>
                                </td>
                                <td class="p-2 whitespace-nowrap px-3">
                                    <div class="text-center">{{ task.createdAt|date }}</div>
                                </td>
                                <td class="p-2 whitespace-nowrap px-3">
                                    <div class="text-center">{{ task.updatedAt|date }}</div>
                                </td>
                                <td class="p-2 whitespace-nowrap px-3">
                                    <a href="{{ path('tasks.edit', {id: task.id}) }}">
                                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-1 px-2 rounded">
                                            <i class="far fa-edit pr-1"></i> Edit
                                        </button>
                                    </a>
                                    <form class="inline" method="post" action="{{ path('tasks.delete', {id: task.id}) }}">
                                        <input type="hidden" name="_method" value="delete">
                                        <button class="bg-red-500 hover:bg-red-700 text-white font-semibold py-1 px-2 rounded" type="submit">
                                            <i class="fas fa-trash pr-1"></i> Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <a href="/tasks/create">
            <button class="bg-green-500 hover:bg-green-700 text-white text-sm font-semibold py-1 px-2 rounded mt-2">
                <i class="far fa-plus-square pr-1"></i> Create Task
            </button>
        </a>
    </div>
{% endblock %}

